*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(0,220,255);
    background: linear-gradient(135deg, rgba(0,220,255,1) 0%, rgba(0,122,255,1) 100%); 
}

h1{
    margin: 50px 0px 5px 50px;
}

p, h6, ul, img{
    margin: 0px 0px 5px 50px;
}

button{
    font-size: 8px;
}